body {
  color: black;
}
body {
    background-image: url("https://previews.123rf.com/images/gmack007/gmack0071510/gmack007151000124/47087988-carte-de-la-r%C3%A9publique-dominicaine-dans-les-couleurs-du-drapeau-national.jpg");
}
bdo{
  font-size: 50px;
}
